# Python log files
*.pyc

# .DS_Store file
.DS_Store

# SQLite Database file
psych_app.db

# Vim swap files
.*.swp
.*.swo

# South Migration Folder
website/migrations/

# Fixtures Test Folder
fts/fixtures/*

